   <!-- modal box -->
   
   <h1 mat-dialog-title>Delete file</h1>
   <div mat-dialog-content>
    <div>
        <form [formGroup]="emailForm" (ngSubmit)="onFormSubmit()" class="max-w-md mx-auto">
            <div class="mb-4">
              <label for="email" class="block">Email:</label>
              <input type="email" id="email" formControlName="email" class="w-full border border-gray-300 rounded px-3 py-2" />
            </div>
            <div *ngIf="emailForm.controls['email'].errors" class="flex">
                <p class="text-xs mt-4 text-[#f50505]" *ngIf="emailForm.controls['email'].errors['email']">Email is not currect</p>
              </div>
          
            <div class="mb-4">
              <label for="subject" class="block">Subject:</label>
              <input type="text" id="subject" formControlName="subject" class="w-full border border-gray-300 rounded px-3 py-2" />
            </div>
            <div *ngIf="submitted && emailForm.controls['subject'].errors" class="flex">
                <p class="text-xs mt-4 text-[#f50505]" *ngIf="submitted && emailForm.controls['subject'].errors['subject']">Subject is required</p>
              </div>
            <div class="mb-4">
              <label for="dateTime" class="block">Date and Time:</label>
              <input type="datetime-local" id="dateTime" formControlName="dateTime" class="w-full border border-gray-300 rounded px-3 py-2" />
            </div>
            <button type="submit" [disabled]="emailForm.invalid" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Submit</button>
          </form>
          
      </div>
      
   </div>
   <div mat-dialog-actions>
     <button mat-button mat-dialog-close>No</button>
   </div>